.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80vh;
}

.chatbox {
  height: 90%;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

.chat-output {
  margin-bottom: 10px;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}
